<h1>Eli Bermudez Gallegos</h1>
<p>Mi landing page</p>


<div class="alert alert-success">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
<%= flash[:notice] %>
</div>

<form method="POST" action="<%= pages_save_forma_path %>">
 <%= hidden_field_tag :authenticity_token,
form_authenticity_token %>
 <label for="nombre">Nombre:</label>
 <input type="text" name="nombre">
 <label for="email">email:</label>
 <input type="email" name="email">
 <label for="edad">Edad:</label>
 <input type="number" name="edad">
 <input type="submit"
value="Enviar">
</form>
