<!DOCTYPE html>
<html>
<head>
  <title>Elibermudez - landing page</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--Boostrap CSS -->
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <!--Boostrap JS-->
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'%> 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
